<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 col-12">
            <img src="../../assets/anadolu-burger.jpg" alt="burger" width="350">
        </div>
        <div class="col-lg-5 col-12 mt-4 mb-4">
            <h2 class="mb-3"><strong>BURGER</strong></h2>
            <div class="mb-3" style="font-size: 20px;">Dana Et, Karamelize Soğan, Turşu, Yeşillik + Kızarmış Patates(Restoran ve paket servis fiyatlarımız farklılık göstermektedir.)</div>
            <h3 class="mb-4">19,90 TL</h3>
            <button type="button" class="btn btn-danger">SİPARİŞ VER</button>
        </div>
        <div>
        </div>
    </div>
</div>

<footer class="page-footer bg-dark">
    <div class="container p-5 text-white text-center">
        Tüm hakkı saklıdır. &#169; Burger Ticaret A.Ş. 2020
    </div>
</footer>