.header {
    background-color: #940c00;
  }

  .dropdown-bg {
    background-color: #940c00;
  }

  .dropdown-item {
    color: aliceblue;
  }

  .dropdown-item:hover {
    background-color: #eb7a11;
  }

  .card{
    border-radius: 20px!important;
  }

  .btn{
    border-radius: 20px!important;
  }

  .card-size{
    height: 150px;
    padding: 30px 0px 30px 30px;
  }

  .card-img{
    max-height: 150px;
  }

.list-header{
  text-align: center;
  color: #940c00;
  padding: 20px;
}

.card-area{
  margin-top: 15px;
  height: 50px;
  overflow: hidden;
}

.list-header-mobile{
  font-size:5vw;
  color: #940c00;
  padding: 10px;
}

.card-area-mobile{
  font-size:2.5vw;
  height: 70px;
  overflow: hidden;
}

.text-price{
  font-size:2.5vw;
  text-align: center;
  color: #940c00;
}

.img-position{
  border-radius: 0px 0px 10px 10px;
  position: relative;
  margin-top: -26px;
}